.user{width: 302px; padding: 4px; margin: 10px auto;}
.user .uname{line-height: 26px; font-size: 13px; text-align: left; text-indent: 5px; border-bottom: solid 1px #00AFED;}
.user .uname b{color: #00AFED;}
.user .func{display: block; border: none 0; float: left; width: 120px; height: 120px; margin-left: 20px; border-radius: 10px; margin-top: 10px;}
