body{background-color: white;}
.shop-banner{width: 100%; border: none 0;}

.menu-box{display: block; color: white; width: 49%; float: left; line-height: 7em; font-size:2em; text-align: center; margin-bottom: 0.2em; text-decoration: none;}
.menu-box:visited{color: white;}
.menu-box:hover{font-weight:bold; color: white;}
.mleft2{margin-left: 2%;}
.box-start{background-color: #EFAD4D;}
.box-order{background-color: #418BCA;}
.box-secret{background-color: #D9544F;}
.box-my-info{background-color: #54B856;}









