.cart-title{font-size: 14px; line-height: 2em; border-bottom: solid 2px #ff6600; color: #FF6600; text-align: center;}

/*购物车列表，商品信息*/
.product{margin-top: 6px; border: solid 1px #ccc; overflow: hidden; font-size: 13px;}

/*复选框*/
.product .check{float: left; width: 20px; height: 100%;}

/*图片和名称*/
.product .pinfo{float: left; width: 30%; margin-left: 4px;}
.product .pinfo img{display: block; width: 100%; height: 4.6em; margin-top: 0.2em; border: none 0;}
.product .pinfo .pname{font-size: 12px; line-height: 1.2em; height: 2.4em; overflow: hidden}

/*价格、数量、小计*/
.product .buynum{float: left; margin-left: 4px; width: 40%; padding: 0 2px; border-left: dotted 1px #ccc;}
.product .buynum .price{font-size: 12px; line-height: 2em; text-align: center;}
.product .buynum .price b{color: red; font-size: 16px;}
.product .buynum .youhui{color: #FF6600; line-height: 1.2em; text-align: center;}
.product .buynum .chquantity{display: block; float: left; margin-right: 4px; margin-top: 2px; width: 24px; line-height: 24px; border-radius: 5px; text-align: center; border: solid 1px; font-size: 16px;}
.product .buynum .ch-reduce{border-color: #888; color: #888;}
.product .buynum .ch-add{border-color: #ff6600; color: #ff6600;}
.product .buynum .quantity{display: block; float: left; margin-right: 4px; margin-top: 2px; width: 44px; height: 24px; line-height: 22px; border: solid 1px #eee; text-align: right; padding-right: 2px;}
.product .buynum .subsum{margin-top: 2px; line-height: 2em;}

/*操作*/
.product .op{float: left; width: 16%; height: 7.3em; padding-left: 2px; border-left: dotted 1px #ccc; line-height: 22px;}
.product .op a{display: block; text-align: center;}
.product .op a.delcart{color: #888;}

/*金额及提交订单*/
.fixedbtm{width: 100%; line-height: 38px; position: fixed; bottom: 0; left: 0; clear: both; z-index: 50; background-color: white; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc;}
.sumsub{width: 96%; max-width: 600px; margin: 0 auto; padding: 2px 0;}
.sumsub .backshop{display: block; float: right; margin-right: 10px; color: #ff7744; line-height: 38px;}
.sumsub .sum b{font-size: 16px; color: #FF6600;}
.sumsub .sum{float: left; font-size: 12px;}
.sumsub .suborder{display: block; float: right; height: 36px; border: solid 1px yellow; background-color: #FF6600; color: white; border-radius: 5px; padding: 0 20px; font-size: 16px; cursor: pointer;}

/*备注*/
.addnote{line-height: 14px; display: none; border-top: solid 1px #ccc;}
.addnote input{width: 260px; line-height: 14px; height: 16px;}


.up{clear: both; border: none 0; height: 35px;}

